<h1>
  <%= @restaurant.name  %>
</h1>

<p>
  <%= @restaurant.category %> located at
  <%= @restaurant.address %> with
  <%= @restaurant.stars  %> *
</p>

<%= link_to "Back restaurants list", restaurants_path %>
